--- 

--- 

:root{
    --font-color:#1f2636;
    --gradient-right: linear-gradient(90.95deg, #12D6B3 0.13%, rgba(18, 139, 207, 0.51) 99.89%);
    --gradient-right-dark:linear-gradient(90deg, #25F5DC 2.38%, rgba(1, 129, 223, 0.97) 100%);
    --gradient-right-darker: linear-gradient(89.12deg, #2EBBA2 0.84%, #32B3AA 0.85%, #33B0AE 0.86%, #7390F4 99.07%);
    --gradient-left-dark:linear-gradient(270deg, #25F5DC 0%, rgba(1, 129, 223, 0.64) 100%);
    --gradient-left-lighter: linear-gradient(90.16deg, #022A36 5.36%, rgba(6, 124, 190, 0.04) 96.15%), linear-gradient(0deg, rgba(133, 129, 129, 0.3), rgba(133, 129, 129, 0.3));



    --font-size-heading:30px;
    --font-size-hero-h1:30px;
    --font-size-hero-h2:25px;

    --spacer:40px;
}

*{
    margin : 0;
    padding : 0;
    box-sizing:border-box;
}

// --------layout------

body{
    background:#ddd;
    font-family: 'Lato', sans-serif;
    // color:#CF5612;
    // color:#BB2E47;
    color:var(--font-color);
    a{
    color:var(--font-color);
    }


}
// for header
header{
    display:flex;
    justify-content: space-between;
    align-items:center;
    text-align:center;
    width:100vw;
    height:80px;
    position:fixed;
    top:0;
    left:0;
    z-index:400;
    background: var(--gradient-right);
}

//content
.hero{
    height:70vh;
}
.class-info,
.fee-info,
.teaching-info,
.get-in-touch,
.collection,
.about-us,
.articles,
.footer{
    height: auto;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    text-align:center;
    padding:var(--spacer);
    margin-top:60px;
    margin-bottom:60px;
    overflow:hidden;
    h1{
        font-size:var(--font-size-heading);
        margin:20px 0;
    }
       
}
.class-info,
.fee-info,
.teaching-info{

    h1{
        padding:15px 0;
        position:relative;
        display:inline-block;
        // margin:0 20px;
        &::before,
        &::after{
            content:'';
            background:#1f2a46;
            width:100vw;
            height:10px;
            position: absolute;
            top:50%;
             transform: translateY(-50%);
        }
        &::before{
            right:105%;
    
        }
        &::after{
            left:105%;
        }
    }
   

}
.about-us{
    background: #c1c1c1;
    border-radius: 67px 0px;
}

// ---------components--------

.card{
    border:2px solid red;
    border:2px solid red;
    width:250px;
    height:250px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

.box{
    border:2px solid #a0b2db;
    ;
    border-radius:10px;
    width:80%;
    max-width:500px;
    height:auto;
    margin:20px;
    overflow:hidden;
    // color:#BB2E47;
    color:var(--font-color);

    .box-img{
  
        width:100%;
        height:150px;
        img{
            width:100%;
        }
    }
    .box-content{
        padding:10px 20px 50px;
        border-top-left-radius:10px;
        border-top-right-radius:10px;

        background: var(--gradient-right-dark);
        position:relative;
        p{
            padding:10px;
            font-size:0.9rem;
        }
        .box-author{
            position:absolute;
            bottom:10%;
            left:5%;

        }
        .box-price{
            position:absolute;
            bottom:10%;
            right:5%;
        }
    }
}

.fixed-wapp{
    border-radius:10px;
    width:50px;
    height:50px;
    position:fixed;
    bottom:30px;
    right:30px;
    z-index:20;
    overflow:hidden;
    img{
        width:240%;
        position:absolute;
        top:-50%;
        left:-70%
    }
}
.active-page{
    color:#BB2E47;
}

//common button throughout design
.to-contact-btn{
    width:100%;
    border:none;
    border-radius:20px;
    background: var(--gradient-left-dark);
    color:#fff;
    padding:10px;
    font-size:25px;
    font-weight:bold;
    margin-top:10px;

}
// band design
.band{
    background:var(--gradient-right-dark);
    padding:20px 0;
    text-align:center;
    .medias{
        display:flex;
        flex-direction:row;
        width:100%;
        justify-content:space-between;
        padding:20px;
        font-size:2rem;
        .media{
            display:flex;
            justify-content:center;
            align-items:center;
        }
        
    }
}






// ------Design------

//header
header{
    svg{
        fill:var(--font-color);
    }
  
    .main-nav{
        &-btn{
            border:0;
            width:80px;
            height:80px;
            background:none;
            overflow:hidden;
            svg{
                width:40px;
                height:40px;
            }
       }
       .nav-container{
           overflow:hidden;
           position:fixed;
           z-index:50;
           background:var(--gradient-right-darker);
           top:0;
           left:0;
           margin-left:-100vw;
           width:100vw;
           height:100vh;
           display:flex;
           flex-direction:column;
           align-items:flex-start;
           padding-top:60px;
           transition:margin-left 350ms linear;

           .nav-close-btn{
               border:0;
               background:none;
               position:absolute;
               top:20px;
               right:20px;
               transform:scale(0);
               transition:transform 150ms linear;
           }
           li{
               list-style:none;
               text-align:left;
               padding:20px ;
               font-size:0;
               transition:font-size 150ms linear;
           }
           a{
               text-decoration:none;
               position:relative;
            }
           a::before{
                content:'';
                position:absolute;
                bottom:0;
                right:0;
                height:2px;
                width:100%;
                background: linear-gradient(90deg, #25F5DC 2.38%, rgba(1, 129, 223, 0.97) 100%);
                transition:transform 150ms linear;
                transform:scaleX(0);
                transform-origin: left;
           }
            a:hover::before{
               transform:scaleX(1);
           }
       }
       .nav-container-open{
            margin:0;
           .nav-close-btn{
               transform:scale(1) rotate(360deg);

           }
           li{
               font-size:1.5rem;
           }
       }
    }
    .logo{
        font-weight:bolder;
        font-size:35px;
    }
    .call-now{
        border:0;
        background:none;
        width:80px;
        height:80px;
        svg{
            height:30px;
            width:30px;
        }
    }

    .call-now:active {
        transform:rotate(3600deg);
        transition:transform 6s linear;
    }
    .call-now:hover{
        transform:rotate(360deg);
        transition:transform 350ms linear;
    }
}
//hero
.hero{
    position:relative;
    overflow:hidden;
   
   
    background:url('{{ "/assets/images/bookshelf-min.jpg" | absolute_url }}');
    background-size:cover;

   
    .hero-content{
        background:var(--gradient-left-lighter);
        color:#ddd;
        padding:20px;
        height:100%;
        display:flex;
        flex-direction:column;
        justify-content:center;
        h1{
            padding:5px 0;
            font-size:var(--font-size-hero-h1);
        }
        h2{
            font-size:var(--font-size-hero-h2);
            padding:30px 0 10px;
        }
        button{
            border:none;
            border-radius:10px;
            height:50px;
            width:200px;
            background:#ddd;
            font-size:1.5rem;
            font-weight:bolder;
        }
    }
    .hero-down{
        position:absolute;
        bottom:-25px;
        left:50%;
        background:#ddd;
        width:50px;
        height:50px;
        border-radius:50%;
        transform:translateX(-50%);
        display:flex;
        justify-content:center;
        padding-top:5px;
    }
}

// class information
.class-info{
    --spacing:20px;
    padding:calc( 2 * var(--spacer)) var(--spacing);
    margin-top:0;
    margin-bottom:0;
    padding-bottom:0;
    h1{
        margin:0;
        padding:0;
    }
    
    #class-type-container{
        width:100%;
        display:flex;
        justify-content:space-between;
        align-items:center;
        padding:var(--spacer) 0;
      
        .class-type-btn{
            border:none;
            background: linear-gradient(270deg, #25F5DC 0%, rgba(1, 129, 223, 0.64) 100%);
            background:var(--gradient-left-dark);
            border-radius:10px;
            margin:20px;
            padding:15px 25px;
            font-size:1.2em;
        }
        .class-type-goto{
            background:none;
            position:relative;
            &::after{
                position:absolute;
                content:'';
                bottom:0;
                left:0;
                width:100%;
                height:2px;
                background:var(--font-color);
            }
        }
    }
    .class-type-container{
        display:flex;
        width:200%;
        margin-left:100%;
        transition:margin-left 350ms linear;

        .class-type-box{
            margin: 0 var(--spacing);
            background:var(--gradient-left-dark);
            border-radius:20px;
            width:100%;
            height:auto;
            padding:calc(var(--spacer) / 2);
            
            h3{
                padding:30px 10px 10px 10px;
                font-size:1.6rem;
            }
           
            .class{
                border:none;
                background: #0a7569;
                color:#fff;
                border-radius:25px;
                display:inline-block;
                padding:20px;
                margin:20px;
                font-size:15px;
            }
            #board-type{
                padding:5px;
            }
            .benefits{
                text-align:left;
                padding:15px;
                button{
                    border:none;
                    background:transparent;
                    font-size:1em;
                    font-weight:bold;
                }
                .benefit{
                    margin: 10px 20px;
                    display:none;
                }
                
            }
        }
    }

    #demo-info{
        padding:var(--spacer) 5px;
        font-size:1.3em;
        font-weight:bold;
    }
   
   
}
//fee structure
.fee-info,
.teaching-info{
    padding:0;
    display:block;
    width:100%;
    overflow:hidden;
    margin-top:var(--spacer);
    .circle-points{
        display:inline-flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        // border:2px solid red;
        padding:30px;
        margin:10px 0;
        .circle{
            background: linear-gradient(270deg, #25F5DC 0%, rgba(1, 129, 223, 0.64) 100%);
            display:inline-block;
            width:130px;
            height:130px;
            border-radius:50%;
        }
        p{
            width:150px;
            padding:10px;
        }
    }
    #detailed-fee{
        font-weight:300;
        margin-top:20px;
    }
    .detailed-fee-enquiry-btn{
        width:90%;
    }
}

//accepted fee type
.accepted-fee-type{
    h3{
        font-size:25px;
    }
    .medias{
        .media{
            font-size:20px;
        }
    }
    p{
        font-weight:300;
    }
}



// get in touch
.get-in-touch{
    // background: linear-gradient(89.12deg, #2EBBA2 0.84%, #32B3AA 0.85%, #33B0AE 0.86%, #7390F4 99.07%);
    //  background: linear-gradient(90deg, #25F5DC 2.38%, rgba(1, 129, 223, 0.97) 100%);
     background: linear-gradient(270deg, #25F5DC 0%, rgba(1, 129, 223, 0.64) 100%);
    text-align:left;
    align-items:flex-start;
    h1{
        text-align:left;
        width:100%;
    }
    &-call{
        h3{
            padding:10px;
        }
        p{
            padding:5px;
        }
    }
    #or{
        padding:10px;
        display:none;
    }
    .get-in-touch-form{
        display:none;
    }

}
.articles{
    
    button{
        border:0;
        background:none;
    }
    .article{
        justify-self:flex-start;
        text-align:left;
        margin:20px 0;
        p{
            padding:10px 0;
        }

    }
}
//about us
.about-us{
    //  background: linear-gradient(89.12deg, #2EBBA2 0.84%, #32B3AA 0.85%, #33B0AE 0.86%, #7390F4 99.07%);
    // background: linear-gradient(90deg, #25F5DC 2.38%, rgba(1, 129, 223, 0.97) 100%);
    background: linear-gradient(270deg, #25F5DC 0%, rgba(1, 129, 223, 0.64) 100%);
    p{
        padding:20px;
    }
}

//----------------Footer-----------
//follow
footer{
    //foot
    .foot{
        padding:20px;
        text-align:center;
    }
}
