---
# for front matter
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adhyayan Shala Coaching Classes</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>
<body>
    

<!-- Header -->
<header>
    <nav class="main-nav">|||</nav>
    <div class="logo">AdhyayanShala</div>
    <button class="call-now">phn</button>
</header>
<!-- Content -->
<div class="hero">
    <div class="hero-img"></div>
    <div class="hero-content">
        <h1>Future of Your Child</h1>
        <h1>is at your DoorStep!!!</h1>

        <h2>Grab this Opportunity</h2>
        <button class="enquire">Enquire Now</button>
    </div>
    <div class="hero-down"></div>
</div>

<div class="collection">
    <h1>Top Collections</h1>
    <div class="box">
        <div class="box-img"></div>
        <div class="box-content">
            <h2>Class X Complete Physics Crash Course</h2>
            <p>A comprehensice guide to last minute revision for the best results in exam</p>
            <p class="box-author">Author</p>
            <p class="box-price">Free</p>
        </div>
    </div>

    <div class="box">
        <div class="box-img">img</div>
        <div class="box-content">
            <h2>Class X Complete Physics Crash Course</h2>
            <p>A comprehensice guide to last minute revision for the best results in exam</p>
            <p class="box-author">Author</p>
            <p class="box-price">Free</p>
        </div>
    </div>
    <!-- box x 4 -->
</div>

<div class="get-in-touch">
    <h1>Get in Touch</h1>
    <div class="get-in-touch-call">
    <h3 id="call-head">Call us at : </h3>
    <p>+91-8885464123</p>
    <p>+91-8885464123</p>
    <p>+91-8885464123</p>
    </div>
    

    <p>or</p>

    <p>Let us reach you, by leaving</p>
    <div class="input-text">Name</div>
    <div class="input-pno">Phone Number</div>
    <div class="input-email"></div>
    <button>Submit</button>
</div>

<div class="articles">
    <h1>Article</h1>
    <div class="article">
        <h2 class="article-head">Top 10 ways to be stressfree when the moment arrive...</h2>
        <p>These 10 minute will help you be stressfree when the moment of truth arrive in the exam hall</p>
        <button>Read More...</button>
    </div>

    <div class="article">
        <h2 class="article-head">Top 10 ways to be stressfree when the moment arrive...</h2>
        <p>These 10 minute will help you be stressfree when the moment of truth arrive in the exam hall</p>
        <button>Read More...</button>
    </div>

    <!-- article x 4 -->
</div>

<div class="about-us">
    <h1>About Us</h1>
    <p>We are the leading brand in education sector and innovating and creating challenging the new boundering</p>

    <p>Our team thrives with single moto in our head for better and brighter future of education</p>

    <p>ALways on the lookout for out the box solution to make things easy and at the same time better for the future nation builder</p>

    <p>Your child's future is our utmost repsonsibility so just enroll with us and sit back for the joy ride of learning for your child</p>

    <p>We are the ultimate money value for your child</p>
</div>

<!-- Footer -->
<footer>
    <div class="follow-us">
        <h1>Follow us</h1>
        <div class="folllow-insta"></div>
        <div class="follow-fb"></div>
        <div class="follow-github"></div>
        <div class="follow-youtube"></div>
    </div>

    <div class="foot">
        <p>&copy;2020 adhyayanshala</p>
    </div>
</footer>

</body>
</html>